<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="flash col-md-12">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
					{% for message in messages %}
					<p><strong>{{message}}</strong></p>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</div>
		</div>
		<div id="page-holder">
			<div class="page container-fluid">
				
		{% block content %}
		{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>